@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap);


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 50;
    color: #fff;
}

header img{
    height: 80px;
    border-radius: 20px;
    
    border: 2px solid #fff;
}

.btn{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid #fff;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: #fff;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.btn:hover{
    background: #fff;
    color: #162938;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h2{
    padding: 10px;
    font-size: 30px;
}

.menu-nav{
    display: flex;
    top: 20px ;
    right: 20px;
    color: #fff;
    font-size: 3em;
    border: 2px solid ;
    border-radius: 16px;
    padding: 5px;
    justify-items: center;
    cursor: pointer;
}

header .nav-hamburguesa{
    display: flex;
    flex-direction: column;
    align-items: start;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba( 0, 0, 0, .5);
    padding: 2rem;
    padding-top: 70px;
    
    transition: all .5s;
    overflow: scroll;

}

.nav-hamburguesa::-webkit-scrollbar{
    width: 5px;
}

.nav-hamburguesa::-webkit-scrollbar-track{
    background: transparent;
}

.nav-hamburguesa::-webkit-scrollbar-thumb {
    background-color: aqua;
    border-radius: 20px;
}

.sub-ind{
    margin-top: 5px;
    margin-left: 40px;
}

.icon-close2{
    display: flex;
    color: #fff;
    font-size: 2em;
    border: solid 2px ;
    border-radius: 15px;
    transition: all .5s;
    align-self: end;
    margin-bottom: 20px;
}

.icon-close2:hover{
    color: #162938;
    background-color: #fff;
}

.nav-hamburguesa a{
    color: #fff;
    text-decoration: none;
}


